.Ballot {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1, h2, h3, p {
    text-align: center;
}

.line-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.candidate {
    width: 16%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.party {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="number"] {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.submit-button {
    display: block;
    margin: 20px auto; /* Top and bottom margin of 20px and auto left-right margin will center the button */
    padding: 10px 20px;
    background-color: #007bff; /* example color, adjust as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #0056b3;
    }
}

.submit-button:hover {
    background-color: #45a049;
}
