.dashboardContainer{
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.dashboardText{
    font-weight: bold;
    font-size: 2em;

}